<style>
#footer1 {
	display:none;
}
</style>

<html class="sessions_html">
<body class="youtube_video sessions_new_background">
<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/-lGB5KERjKo?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


<!-- </body> -->
<!--
<style>
  /*basic reset*/
  * {margin: 0; padding: 0;}
</style> -->

<!-- <html class="sessions_html">
  <body class="sessions_new_background"> -->

    <!-- multistep form -->
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Login</li>
        <li>Location</li>
        <li>Explore</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
				<h2 class="fs-title">Where are you travelling from?</h2>
        <h3 class="fs-subtitle">We need to know a few things before customizing your trip</h3>
        <input type="text" name="zipcode" placeholder="Country" />
        <input type="text" name="zipcode" placeholder="Zipcode" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
				<h2 class="fs-title">Which best describes you?</h2>
				<h3 class="fs-subtitle">We're almost there</h3>
				<!-- <input type="text" name="fullname" placeholder="Athlete/ Fan/ Delegation/ Organizer ..." /> -->
				<!-- <h3 class="fs-subtitle">According to our calculations, painting your house will cost:</h3> -->
				<div class="form-group">
				  <select class="form-control" id="sel1">
				    <option>Athlete</option>
				    <option>Delegation</option>
				    <option>Fan</option>
				    <option>Organizer</option>
				  </select>
				</div>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
				<h2 class="fs-title">Ready to plan the trip of your life?</h2>
        <h3 class="fs-subtitle">We are too. Let's go!</h3>
        <div class="fb">
          <button class="loginBtn loginBtn--facebook" style="margin-left:auto;margin-right:auto;">
            <%= link_to "Login with Facebook", "/auth/facebook", id: "sign_in", style:"color:white;text-decoration:none;margin-left:10px;" %>
          </button>
        </div>
        <div class="google">
          <button class="loginBtn loginBtn--google" style="margin-left:auto;margin-right:auto;">
            <%= link_to "Login with Google", "/auth/google_oauth2", id: "sign_in", style:"color:white;text-decoration:none;margin-left:10px;" %>
          </button>
        </div>
        <!-- <% if current_user %>
           Signed in as <strong><%= current_user.name %></strong>!
           <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
         <ul>
           <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
           <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
         </ul>
        <% end %> -->
        <!-- <input type="password" name="sqft" placeholder="House SQFT." />
        <input type="text" name="fullname" placeholder="Full Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <input type="button" name="previous" class="previous action-button" value="Previous" /> -->

        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->

      </fieldset>
    </form>

    <!-- <%= link_to "Click for listings#show(index)", listings_path %> -->

  </body>
</html>

<script>
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;

	current_fs = $(this).parent();
	next_fs = $(this).parent().next();

	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

	//show the next fieldset
	next_fs.show();
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
			next_fs.css({'left': left, 'opacity': opacity});
		},
		duration: 800,
		complete: function(){
			current_fs.hide();
			animating = false;
		},
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;

	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();

	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

	//show the previous fieldset
	previous_fs.show();
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		},
		duration: 800,
		complete: function(){
			current_fs.hide();
			animating = false;
		},
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false;
})

</script>
