<body class="listing_index_body2">
	<div class ="load_modal">
		<div class="notifications" style="margin-top:4.25px;">

		  <div class="notify gr">

		    <%= image_tag ("admin4.jpg"), class: 'img-circle', style:"border-color:gray;border-width:2.5px;border-style:solid;margin-top:8.5px;margin-left:10px;"%>
		    <div class="info" style="margin-top:-27px;margin-left:-4px;">
		     <div style="margin-bottom:-2px;"> <span style="font-size:13px;">Great Job, <%=current_user.name%>!</span></div>
					<b style="font-size:12px;margin-top:-2px;">Step 2: </b><span style="font-size:13px;">Choose a hotel</span>
		      <div><span style="font-weight:normal;font-size:11px;color:gray;float:none;margin-top:0px;"><%=Time.now.strftime("%I:%M%p")%></span>
		    </div>
			</div>

		  </div>

		</div>
	</div>
	<script>
	console.log("hi");
	$('body').click(function(e){ console.log(e.target) })
	$('.load_modal').click( function() {
		debugger;

	  $(this).fadeOut();
	});
	</script>

	<div style="width:206px;margin-left:auto;margin-right:auto;">

		    <input stylechecked id="one" name="multiples" type="radio" value="1">
        <label for="one"></label>

		    <input id="two" name="multiples" type="radio" value="2">
        <label for="two"></label>

        <input id="three" name="multiples" type="radio" value="3">
        <label for="three"></label>

        <input id="four" name="multiples" type="radio" value="4">
        <label for="four"></label>

        <input id="five" name="multiples" type="radio" value="5">
        <label for="five"></label>

        <input id="six" name="multiples" type="radio" value="6">
        <label for="six"></label>

        <input id="seven" name="multiples" type="radio" value="7">
        <label for="seven"></label>

        <input id="eight" name="multiples" type="radio" value="8">
        <label for="eight"></label>

		<div class="container">
			<div class="carousel prices" style="margin-top:-40px;margin-left:-179px;">

			<!-- <div class="img"><img src="  http://needwant.com/wp-content/uploads/2013/11/2013-04-12-16.58.50-2.jpg" alt="Landscape 1"></div> -->
      <div class="price-stamp"></div>
				<img src="http://thetaleoftwotings.com/wp-content/uploads/2014/01/P1160797.jpg" alt="Landscape 2">
				<img src="https://a0.muscache.com/im/pictures/9154330/a0700176_original.jpg?aki_policy=xx_large" alt="Landscape 3">
				<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13133201_619510394864844_3333733000320571527_n.jpg?oh=76bb4a3ed4c211b3472119cfbb231507&oe=5A315217" alt="Landscape 4">
				<img src="http://blog.tortugabackpacks.com/wp-content/uploads/2017/06/airbnb-alternatives.jpg" alt="Landscape 5">
				<img src="https://businessfirstfamily.com/wp-content/uploads/2017/02/luxury-retreats-acquired-airbnb.jpg" alt="Landscape 6">
				<img src="http://www.cpp-luxury.com/wp-content/uploads/2017/06/Public-Hotel-New-York-Ian-Schrager.jpg" alt="Landscape 7">
				<img src="https://media.cntraveler.com/photos/56e31b19c3ce11fb6b06be36/master/pass/one-fine-stay-bedroom-interior.png" alt="Landscape 8">
        <!-- Captions -->
				<div class="rating" style="-webkit-transform: rotateY(45deg) translateZ(541px) scale(.8);">
           <h1>9.1/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(45deg) translateZ(541px) scale(.8);">
           <h3><%=link_to "#{@hotel[0].name}", listing_path("#{@hotel[0].id}"), style:"text-decoration:none;"%><br></h3>
           <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(90deg) translateZ(541px) scale(.8);">
           <h1>8.9/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(90deg) translateZ(541px) scale(.8);">
            <h3><%=link_to "#{@hotel[1].name}", listing_path("#{@hotel[1].id}"), style:"text-decoration:none;"%></h3>
            <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(135deg) translateZ(541px) scale(.8);">
           <h1>8.5/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(135deg) translateZ(541px) scale(.8);">
           <h3><%=link_to "#{@hotel[2].name}", listing_path("#{@hotel[2].id}"), style:"text-decoration:none;"%></h3>
           <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(180deg) translateZ(541px) scale(.8);">
           <h1>8.4/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(180deg) translateZ(541px) scale(.8);">
            <h3><%=link_to "#{@hotel[3].name}", listing_path("#{@hotel[3].id}"), style:"text-decoration:none;"%></h3>
            <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(225deg) translateZ(541px) scale(.8);">
           <h1>8.2/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(225deg) translateZ(541px) scale(.8);">
           <h3><%=link_to "#{@hotel[4].name}", listing_path("#{@hotel[4].id}"), style:"text-decoration:none;"%></h3>
           <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(270deg) translateZ(541px) scale(.8);">
           <h1>8.0/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(270deg) translateZ(541px) scale(.8);">
            <h3><%=link_to "#{@hotel[5].name}", listing_path("#{@hotel[5].id}"), style:"text-decoration:none;"%></h3>
            <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>
				<div class="rating" style="-webkit-transform: rotateY(315deg) translateZ(541px) scale(.8);">
           <h1>8.0/10</h1>
        </div>
        <div class="carousel-caption" style="-webkit-transform: rotateY(315deg) translateZ(541px) scale(.8);">
           <h3><%=link_to "#{@hotel[6].name}", listing_path("#{@hotel[6].id}"), style:"text-decoration:none;"%></h3>
           <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
        </div>


			</div>
		</div>

	</div>

</body>

<style>
.carousel-caption
			{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				padding-top: 20px;
				padding-bottom: 20px;
				color: #fff;
				text-align: center;
				background: rgba(0,0,0,0.4);
			}
.rating
{
	position: fixed;
	right: 0;
	bottom: 10;
	left: 0;
	z-index: 90;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: white;
}
</style>
