<body class="listing_show_body" style="background-color: ghostwhite;">

		<div class="body">
			<div class="listing-picture" style="height:25vw;">
				<div data-reactid="97"><!-- react-empty: 98 --><!-- react-empty: 99 -->
					<div data-reactid="100">
					  <div class="photos_jx8qn9-o_O-withModal_13xlah4" style="height:25vw;" data-reactid="101">
					    <span data-reactid="102">
					      <img alt="" class="hide" src="https://a0.muscache.com/im/pictures/22903552/b41736ff_original.jpg?aki_policy=large" srcset="https://a0.muscache.com/im/pictures/22903552/b41736ff_original.jpg?aki_policy=large 639w,https://a0.muscache.com/im/pictures/22903552/b41736ff_original.jpg?aki_policy=xx_large 1440w" data-reactid="103" width="0">
					      <!-- <div class="hide" data-reactid="104">
					        <img class="carousel-image img-responsive-height" src="https://a0.muscache.com/im/pictures/22903548/206fd625_original.jpg?aki_policy=x_large" alt="Grand deck autour de la piscine avec transats, espace repas ombragé pour 8 personnes, barbecue et plancha." data-reactid="105">
					        <img class="carousel-image img-responsive-height" src="https://a0.muscache.com/im/pictures/22903733/a5bf075a_original.jpg?aki_policy=x_large" alt="Terrasse plein sud sans aucun vis à vis.Piscine 7*4 équipée d'une alarme et d'une bâche thermique." data-reactid="106">
					      </div> -->
					      <!-- <div class="btn124" style="height: 15%; width: 45%; position: absolute; padding-top:5%;text-shadow: 2px 2px 0px #000; font-size:2.2vw;" data-reactid="114a">
					      	<div style=" width:92%;background-color:whitesmoke;;opacity:1;">
					      		<p data-reactid="116a">"Travel like a Champion."</p>
					      	</div>
					      </div> -->
					      <span data-reactid="107"><!-- react-empty: 2398 -->
					        <div data-reactid="112" style="height:27vw;width:82%;margin-left:112px;">
					          <div class="coverImage_75zala" style="background-image:url(<%= @listing.photos %>);" aria-hidden="true" data-reactid="113">


					          </div>

					        </div>
					      </span>


					    </span>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="room__dls room__dls--fontSize19" style="width:100%" data-reactid="119">
				<div class="container_p37oqd-o_O-container_staticWidth_mfbig2" data-reactid="120">
					<div style="margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;" data-reactid="121">
						<div id="summary" data-reactid="122">
						    <div class="row_2h22gn" style="max-width: 70%;" data-reactid="123">
							    <div class="column_1rnz84d-o_O-column-lg-8_1gc3mvd" style="width:60%; right: 25px;top:70px;padding-left:1%; margin:auto;" data-reactid="124">
							    	<div id="watch-header" data-reactid="1000" class="yt-card yt-card-has-padding" style="width:116%; background-color:rgba(50,50,50,0.3); box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8); ">

							      	  	<div data-reactid="125">
									        <div class="row hide-md" data-reactid="126">
									          <div class="col-sm-12" data-reactid="127">
									            <div data-reactid="128">
									              <div data-reactid="130">
									                <div class="innerContainer_1yboa9e" data-reactid="131">
									                  <div class="container_e296pg" data-reactid="132">
									                    <div class="containerOuter_1miw6zj-o_O-containerOuter_hideHorizontalScrollbar_1qowuqe" data-reactid="133">
									                      <div class="containerInner_1hdjuur-o_O-containerInner_hideHorizontalScrollbar_ep4zv6" data-reactid="134">
									                        <nav data-reactid="135">
									                          <span class="text_5mbkop-o_O-size_small_1gg2mc-o_O-weight_bold_153t78d-o_O-inline_g86r3e" data-reactid="136">
									                            <span class="anchor_18fdjt5" data-reactid="137">
									                              <a href="#summary" class="component_9w5i1l-o_O-navigation_3mnosr" aria-disabled="false" aria-busy="false" data-reactid="138">
									                                <span data-reactid="139" class="text_5mbkop-o_O-size_small_1gg2mc-o_O-inline_g86r3e" style="color:black;font-size: 2vw;font-weight: 450;">Overview</span>
									                              </a>
									                            </span>
									                          </span>

									                        </nav>
									                      </div>
									                    </div>
									                  </div>
									                </div>
									              </div>
									            </div>
									          </div>
									        </div>
									        <div class="row" data-reactid="179">
									          <div class="col-sm-12" data-reactid="180">
									            <div class="section-container" data-reactid="181">
									              <div class="summary-container" data-reactid="182">
									                <div class="row" data-reactid="183"><!-- awdawdaw-->
									                	<div id="watch-header" class="yt-card yt-card-has-padding" style="width:98%; background-color:rgba(255,255,230,0.7); box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8); margin-left: 7px; ">
										                  <div class="hide-sm col-md-10" data-reactid="184">

										                    <div itemprop="name" class="overflow summary-title-bottom-spacing title-2" id="listing_name" data-reactid="207">
										                      <div style="float:left;font-size:23px;font-weight:500;"><%= @listing.name %></div>

										                      	<div class="xs-8--none" style="float:right; font-size:1.5vw; line-height:150%;" data-reactid="320">



										                      	</div>
										                    </div>

										                    <div data-reactid="209">
										                      <div id="display-address" class="text-muted" data-reactid="210">
										                        <div style="margin-bottom:0; float:right; font-size:15px;" data-reactid="211">
										                          <span class="link-reset" data-reactid="212"><%= @listing.location %></span>
										                            <span data-reactid="213"> &nbsp; </span>
										                              <a href="#reviews" class="link-reset show-inline-block" data-reactid="214"><div class="star-rating-wrapper" itemscope="" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" aria-label="Average 5 out of 5 stars from 62 guest reviews" role="img" data-reactid="215">
										                              </div>
										                              </a>
										                        </div>
										                      </div>
										                    </div>
										                  </div>

										                </div>

									                  <div style="margin-top:24px;" data-reactid="288">
									                    <div class="text-muted text-center" data-reactid="289">
										                    <div style="margin-top:25px; margin-bottom:25px;" data-reactid="309">
										                        <div class="rule_76irmj" data-reactid="310"></div>
										                    </div>
										                    <div class="row_2h22gn" style="padding-left:17px;" data-reactid="292">
										                    	<div id="watch-header" class="yt-card yt-card-has-padding" style="width:98%; background-color:rgba(255,255,230,0.7); box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8); font-size:15px;text-align:left">
										                        	<span><%=@listing.description%></span>

										                        </div>
										                    </div>
									                      <div style="margin-top:24px;margin-bottom:16px;" data-reactid="309">
									                        <div class="rule_76irmj" data-reactid="310"></div>
									                      </div>
									                    </div>
									                  </div>
									                </div>
									              </div>
									            </div>
									          </div>
									        </div>
									    </div>
								        <div class="the descriptions"><!-- awdaw -->
								          	<div id="watch-header" class="yt-card yt-card-has-padding" style="width:100%; background-color:rgba(255,255,230,0.7); box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8);margin-top:-20px; ">
															<div class="column_1rnz84d-o_O-column-sm-3_1c7jm1s" data-reactid="297" style="margin-top:-20px;">

																	 <br data-reactid="299">
																	 <span class="text-small" data-reactid="300"style="font-size:16px;">Suitable No. of Guest: <%=@listing.max_guests%></span>
															 </div>
								          		<div class="column_1rnz84d-o_O-column-sm-3_1c7jm1s"  data-reactid="293" style="margin-top:-20px;">

					                          		<br data-reactid="295">
					                          		<span class="text-small" data-reactid="296"style="font-size:16px;"><b>RM<%= @listing.price %></b> per night<span>
					                        	</div>
																		<div class="tickets2">
																		<%= button_to "Reserve", new_listing_reservation_path(@listing.id), method: :get, class:"btn btn-success", style:"bottom:-4%" %>
																	</div>
					                        </div>
								        </div><!-- awdawd -->
								    </div>

							    </div>
							</div>

						    <div class="column_1rnz84d-o_O-column-lg-8_1gc3mvd" style="float: right; max-width: 34%; margin-right: 13%; margin-left: 1%; padding-left: 0;" data-reactid="12412">
						    	<div id="watch-header" class="yt-card yt-card-has-padding" style="width:88%; background-color:rgba(50,50,50,0.3); box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8);top:70px;right:14.5px; ">
						      		<div data-reactid="125">
								        <div class="row hide-md" data-reactid="126">
								          <div class="col-sm-12" data-reactid="127">
								            <div data-reactid="128">
								              <div data-reactid="130">
								                <div class="innerContainer_1yboa9e" data-reactid="131">
								                  <div class="container_e296pg" data-reactid="132">
								                    <div class="containerOuter_1miw6zj-o_O-containerOuter_hideHorizontalScrollbar_1qowuqe" data-reactid="133">
								                      <div class="containerInner_1hdjuur-o_O-containerInner_hideHorizontalScrollbar_ep4zv6" data-reactid="134">
								                        <nav data-reactid="135">
								                          <span data-reactid="140">
								                            <span class="text_5mbkop-o_O-size_small_1gg2mc-o_O-inline_g86r3e" data-reactid="141">
								                              <span class="dot_t5g4kn" data-reactid="142">
								                                <span aria-hidden="true" data-reactid="143"> · </span>
								                              </span>
								                            </span>
								                            <span class="text_5mbkop-o_O-size_small_1gg2mc-o_O-inline_g86r3e" data-reactid="144">
								                              <span class="anchor_18fdjt5" data-reactid="145">
								                                <a href="#reviews" class="component_9w5i1l" aria-disabled="false" aria-busy="false" data-reactid="146">
								                                  <span data-reactid="147" style="color:black; font-size:2vw;">Top Reviews</span>
								                                </a>
								                              </span>
								                            </span>
								                          </span>
								                        </nav>
								                      </div>
								                    </div>
								                  </div>
								                </div>
								              </div>
								            </div>
								          </div>
								        </div>
								    </div>
								    <div class="the descriptions" style="padding-top:6.5%;"><!-- awdaw -->
								        <div id="watch-header" class="yt-card yt-card-has-padding" style="width:100%; background-color:silver; box-shadow: 0px 3px 5px rgba(0, 5, 2, 0.8); ">
											<% @listing.comments.each do |comment| %>

												<div id="watch7-user-header" class=" spf-link ">
												  	<a href="#" class="yt-user-photo g-hovercard yt-uix-sessionlink      spf-link " data-ytid="UClN0s_t1FmlrA7NcVlgL6sQ" data-sessionlink="itct=CDMQ4TkiEwiA_dKT5fHVAhVe12gKHaeBAjgo-B0">
												      	<span class="video-thumb  yt-thumb yt-thumb-48 g-hovercard" data-ytid="UClN0s_t1FmlrA7NcVlgL6sQ">
												    		<span class="yt-thumb-square">
												      			<span class="yt-thumb-clip">
											  						<img data-ytimg="1" alt="crybaby" src="<%=comment.user.avatars%>" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" width="48" height="48">
															        <span class="vertical-align"></span>
															    </span>
														    </span>
														</span>
													</a>
											  		<div class="yt-user-info">
											    		<div class="g-hovercard yt-uix-sessionlinkspf-link " data-ytid="UClN0s_t1FmlrA7NcVlgL6sQ" data-sessionlink="itct=CDMQ4TkiEwiA_dKT5fHVAhVe12gKHaeBAjgo-B0" style="color:teal; font-size:80%;"><%=comment.user.name%></div>
											  		</div>
													<span id="watch7-subscription-container">
														<span class=" yt-uix-button-subscription-container">
															<div style="font-size:70%">
																<%= comment.updated_at.strftime('%d %B %Y') %>
															</div>
														</span>
													</span>
												</div>
											    <div id="watch8-action-buttons" class="watch-action-buttons clearfix">
											    	<div id="watch7-headline" class="clearfix">
												    	<div id="watch-headline-title">
												      		<h1 class="watch-title-container" style="line-height:50%; width:100%; font-family: Georgia, Times New Roman Times, Serif, Arial; text-shadow: 0.15px 0px 0px #000; font-size:180%; margin:-1%;">
												  				<span id="eow-title" class="watch-title" dir="ltr" title="Title of video or whatever" style="font-size:45%;">"<%=comment.description%>"</span>
												      		</h1>
												    	</div>
												  	</div>
												</div>
												<div style="margin-top:24px;margin-bottom:16px;" data-reactid="309">
									                <div class="rule_1176irmj"  data-reactid="310"></div>
									            </div>
											<% end %>

										</div>
									</div>
									<%=link_to "See all reviews", new_listing_comment_path(@listing.id), style:"font-size:10px;text-decoration:none;font-size: 13px;text-decoration: none;color: lightseagreen;margin-left:2px;" %>
							       	<!-- awdawd -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>


<style>
body {
  background-color: grey;
}
#footer1 {
  display:none;
  clear: both;
  position: absolute;
  right: 0;
  bottom: 0;
  @media screen and (min-height: 400px) {
      margin-bottom: -200px;
  }
  left: 0;
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  ul {
    li {
      float: left;
      margin-right: 20px;
      list-style: none;
      display: inline;
    }
  }
}

</style>

<script>
$(document).ready(function(){
  $(".menu_1woac6s1").hide();
  $(".link_cr2i2a1").click(function(event){
    event.stopPropagation();
    $(".menu_1woac6s1").toggle();
  });

  $(document).click(function(){
      $('.menu_1woac6s1').hide();
  });
});
$(document).ready(function(){
  $(".menu_1woac6s5").hide();
  $(".link_cr2i2a5").click(function(event){
    event.stopPropagation();
    $(".menu_1woac6s5").toggle();
  });

  $(document).click(function(){
      $('.menu_1woac6s5').hide();
  });
});
</script>


</body>
