
<html class="page3html">

  <body class="page3body">
    <!-- Notifications  -->
    <div class ="load_modal">
      <div class="notifications" style="margin-top:4.25px;">

  		  <div class="notify gr" style="background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%);">

  		    <%= image_tag ("admin4.jpg"), class: 'img-circle', style:"border-color:gray;border-width:2.5px;border-style:solid;margin-top:8.5px;margin-left:10px;"%>
  		    <div class="info" style="margin-top:-27px;margin-left:-4px;">
  		     <div style="margin-bottom:-2px;"> <span style="font-size:13px;">Congrats, <%=current_user.name%>!</span></div>
  					<span style="font-size:13px;">Go ahead and make a payment</span>
  		      <div><span style="font-weight:normal;font-size:11px;color:gray;float:none;margin-top:0px;"><%=Time.now.strftime("%I:%M%p")%></span>
  		    </div>
  			</div>

  		  </div>

  		</div>
  	</div>
    <script>
    console.log("hi");
    $('body').click(function(e){ console.log(e.target) })
    $('.load_modal').click( function() {
    	debugger;

      $(this).fadeOut();
    });
    </script>


<div class="profile_bar">
  <div class="container2">
	<div class="innerwrap">

    <!-- </div> -->




<div class="container_body">
	<div class="innerwrap">
		<section class="section1 clearfix">
			<div>
				<div class="row grid clearfix">
					<div class="col2 first">
						<img src="http://images.contactmusic.com/newsimages/david_beckham_1133321.jpg" alt="">
						<h1>david beckham</h1>
						<p><p>Professional soccer player, husband, father. England.<br>
              <!-- <a href="http://bit.ly/2wDhryU">Learn about the a href attribute</a> -->
              <!-- <i><%= current_user.name %></i></br></p> -->


					</div>
          <span>Follow</span>

					</div>
				</div>
      </section>

				</div>
			</div>

      <div class="row clearfix" style="width:1037px; margin-left:auto;margin-right:auto;">
        <ul class="row2tab clearfix">
          <li><i class="fa fa-check"></i> <%=link_to "My Reservations", user_path, :style=>"text-decoration:none;"%> </li>
          <li><i class="fa fa-list-alt"></i> <%=link_to "Travel Guide", listings_path, :style=>"text-decoration:none;"%> </li>
          <li><i class="fa fa-bar-chart"></i><%=link_to "Events", events_show_path, :style=>"text-decoration:none;"%></li>
          <!-- <li><i class="fa fa-star"></i><%=link_to "Favorites", events_show_path, :style=>"text-decoration:none;"%></li> -->
          <li><i class="fa fa-dashboard "></i> Manage Profile </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br><br>
<% if current_user.reservations.present? %>
<section class="gallery" style="margin-top:-170px;">

		<div class="prices" style="margin-left:auto;margin-right:auto;">

      <% current_user.reservations.each do |x| %>
      <% @reservation = Reservation.find(x.id) %>
      <% @listing = Listing.find(x.listing_id) %>
      <!-- <div class="description" style="text-align:center;">
        <h3 style="font-weight:thick;">Formula 1 Grand Prix</h3>
      </div> -->

			<div class="img"><img src="https://a2.muscache.com/im/pictures/6152848/b04eddeb_original.jpg?aki_policy=x_medium"></div>
      <div class="img"><img src="https://a2.muscache.com/im/pictures/34792065/bae84a3f_original.jpg?aki_policy=x_medium"></div>
      <div class="img" style="position:absolute;"><img src="https://a2.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=x_medium">
        <%=link_to "/listings/#{@listing.id}/reservations/#{@reservation.id}", method: :delete do %>
          <i class="fa fa-2x fa-window-close" aria-hidden="true" style="color:white;position:absolute;top: 10px;right: 9px;"></i>
        <% end %>
      </div>

				<div class="price-stamp">$<%=x.total%></div>

				<div class="description" style="text-align:center;color:white;">
					<h4><%= link_to "#{@listing.name}", listing_path(@listing.id), :style=>"text-decoration:none;color:white;"%></h4>
          <h5> <%= x.start_date.strftime("%B %d, %Y") %> to <%= x.end_date.strftime("%B %d, %Y") %> </h5>
            <% if x.payment != true %>
            <%= button_to "Make Payment", go_payment_path(x.id),  :style=>"text-decoration:none;width:110px;margin-left:-7.5px;", class:"btn-primary btn btn-sm", method: :get%>
            <% else %>
            <button class="btn-warning btn btn-sm" style="width:110px;margin-left:-11px;"> Paid </button>
            <% end %>
				</div>

        <% end %>

			</div>

		</div>
</section>
<% else %>
<h4> You have no reservations yet. Are you interested in any of these sporting events? </h4>
<% end %>



  </body>
</html>

<style>
#footer1 { margin-bottom: -500px;}
</style>

<script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    minDate: "<%=DateTime.now%>",
                    defaultDate: "<%=DateTime.now%>",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
          $("#datetimepicker5").on("dp.change", function (e) {
           $('#datetimepicker6').data("DateTimePicker").minDate(e.date);
       });
            });
            $(function () {
                $('#datetimepicker6').datetimepicker({
                    minDate: "<%=DateTime.now%>",
                    defaultDate: "<%=DateTime.now%>",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker5').data("DateTimePicker").maxDate(e.date);
        });
            });
        </script>
