<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">




<!--Don't add spaces or newlines between the li elements!-->
<!--
<div class="container" style="margin-top:-110px;">
  <ol class="progress-meter">
    <li class="progress-point done">Create</li><li class="progress-point done">Download</li><li class="progress-point todo">Link</li><li class="progress-point todo">Connect</li>
  </ol>
</div> -->



<body class="trialanderror" style="background-color:black;">
<div class ="load_modal">
	<div class="notifications" style="margin-top:7px;">

	  <div class="notify gr" style="background: linear-gradient(to bottom, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);">

	    <%= image_tag ("admin4.jpg"), class: 'img-circle', style:"border-color:gray;border-width:2.5px;border-style:solid;margin-top:8.5px;margin-left:10px;"%>
	    <div class="info" style="margin-top:-26px;margin-left:-4px;">
	     <div style="margin-bottom:4px;"> <span style="font-size:14px;">Hi, <%=current_user.name%>!</span></div>
				<b style="font-size:13px;margin-top:0px;">Step 1: </b><span style="font-size:13px;">Choose a game or event</span>
	      <div><span style="font-weight:normal;font-size:12px;color:gray;float:none;margin-top:4px;"><%=Time.now.strftime("%I:%M%p")%></span>
	    </div>
		</div>

	  </div>

	</div>
</div>
<script>
console.log("hi");
$('body').click(function(e){ console.log(e.target) })
$('.load_modal').click( function() {
	debugger;

  $(this).fadeOut();
});
</script>


	<div class="nav_button_event_page">
	<a class="cd-nav-trigger cd-text-replace" href="#">Menu
		<div>
		<span aria-hidden="true" class="cd-icon"></span>
		</div>
	</a>
	</div>
	<div class="cd-projects-container" style="margin-top:-130px;">
		<ul class="cd-projects-previews" style="padding-left: 0px;">
			<li class="bg-loaded1">
				<a href="#0">
					<div class="cd-project-title">
						<h2>Malaysian Grand Prix </h2>
						<p>Part of the Formula One World Championship</p>
						<div class="arrow_down" style="margin-left:-100px;">
							<div class="encircle bounce animated">
								<!-- <div class="arrow"> -->
									<i class="fa fa-4x fa-ticket" aria-hidden="true" style="margin-top:8px;"></i>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="bg-loaded2">
				<a href="#0">
					<div class="cd-project-title">
						<h2>Southeast Asian Games</h2>
						<p>A Southeast Asian multisport event </p>
						<div class="arrow_down" style="margin-left:-100px;">
							<div class="encircle bounce animated">
								<i class="fa fa-4x fa-ticket" aria-hidden="true" style="margin-top:8px;"></i>
								<!-- <div class="arrow">
								</div> -->
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="bg-loaded3">
				<a href="#0">
					<div class="cd-project-title">
						<h2>Thomas & Uber Cup</h2>
						<p>Biannual international badminton competition</p>
						<div class="arrow_down" style="margin-left:-100px;">
							<div class="encircle bounce animated">
								<i class="fa fa-4x fa-ticket" aria-hidden="true" style="margin-top:8px;"></i>
								<!-- <div class="arrow">
								</div> -->
							</div>
						</div>
					</div>
				</a>
			</li>

			<li class="bg-loaded4">
				<a href="#0">
					<div class="cd-project-title">
						<h2>ESL One</h2>
						<p>Premier international eSports tournement</p>
						<div class="arrow_down" style="margin-left:-100px;">
							<div class="encircle bounce animated">
								<i class="fa fa-4x fa-ticket" aria-hidden="true" style="margin-top:8px;"></i>
								<!-- <div class="arrow">
								</div> -->
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-projects-previews -->

		<ul class="cd-projects">
			<li class="">
				<div class="preview-image">
					<div class="cd-project-title">
						<h2>Malaysia Grand Prix</h2>
						<p>2017 FORMULA 1 PETRONAS MALAYSIA GRAND PRIX ( 29 SEPT - 1 OCT 2017 )</p>
					</div>
				</div>

				<div class="cd-project-info">
						<div class="container", style="margin-top: -70px;">
  <h2 class="eventh2">Malaysia Grand Prix</h2>
	<p>Admission on Friday is on a roving seating basis and all visitors can sit in any available seats in any participating grandstands. Seating on Saturday and Sunday will be in the ticketed grandstand (K1, and F are roving seating within the grandstand).

		New for 2017, most grandstands in the main Mall area cannot be booked on an individual basis. Instead, Main Grandstand provides roving access to available seats in the participating grandstands in the Mall area.

	C2 Hillstand and K2 Hillstand are General Admission areas.

	Pit Walk

	A public pit lane walk is expected to be held on the Friday (subject to confirmation nearer to race date). The pit walk may only be open to certain ticket holders (more information will be provided as it is released).

	Delivery

	Please note: Standard tickets are available as physical tickets or e-tickets. If you opt for e-delivery, please be aware that ticket lanyards and ear plugs will be removed from your booking and you will not be charged for these.</p>
  <table class="table" id='event-table'>
    <thead>
      <tr>
        <th>Entry</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fri-Sun</td>
        <td>Adult</td>
        <td>RM100</td>
      </tr>
      <tr>
        <td>Fri-Sun</td>
        <td>Kids</td>
        <td>RM50</td>
      </tr>
      <tr>
        <td>Fri-Sun</td>
        <td>Senior-citizen</td>
        <td>RM60</td>
      </tr>
    </tbody>
  </table>
</div>

					<div class="add_to_cart">
											<!-- https://codyhouse.co/gem/add-to-cart-interaction/ -->
											<main>
												<div class="tickets"><a href="#0" class="cd-add-to-cart btn" data-price="50.99" style="margin-top: 46px;">Add To Cart</a></div>
												<div class="tickets"><a href="listings" class="btn" style="margin-top: 4px; background: #ee7600;">Continue</a></div>
												<!-- <div class="tickets"><div class="btn">Purchase Tickets</div></div> -->
											</main>


											<!-- <main>
												<a href="#0">Continue</a>
											</main> -->

											<div class="cd-cart-container empty">
												<a href="#0" class="cd-cart-trigger" style="text-decoration:none;">
													Cart
													<ul class="count"> <!-- cart items count -->
														<li>0</li>
														<li>0</li>
													</ul> <!-- .count -->
												</a>

												<div class="cd-cart">
													<div class="wrapper">
														<header>
															<h2>Cart</h2>
															<span class="undo">Item removed. <a href="#0" style="text-decoration:none;">Undo</a></span>
														</header>

														<div class="body">
															<ul>
																<!-- products added to the cart will be inserted here using JavaScript -->
															</ul>
														</div>

														<footer>

															<a href="#0" class="checkout btn"><em>Current Total: $<span>0</span></em></a>
														</footer>
													</div>
												</div> <!-- .cd-cart -->
											</div> <!-- cd-cart-container -->
						<!-- <%=link_to "Continue", listings_path, style:"text-decoration:none;"%> -->

					</div>
				</div> <!-- .cd-project-info -->

			</li>

			<li class="">
				<div class="preview-image">
					<div class="cd-project-title">
						<h2>Project 2</h2>
						<p>Brief description of the project here</p>
					</div>
				</div>

				<div class="cd-project-info">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
					</p>
					<div class="add_to_cart">
											<!-- https://codyhouse.co/gem/add-to-cart-interaction/ -->
											<main>
												<div class="tickets"><a href="#0" class="cd-add-to-cart btn" data-price="50.99" style="margin-top: 46px;">Add To Cart</a></div>
												<div class="tickets"><a href="listings" class="btn" style="margin-top: 4px; background: #ee7600;">Continue</a></div>
												<!-- <div class="tickets"><div class="btn">Purchase Tickets</div></div> -->
											</main>


											<!-- <main>
												<a href="#0">Continue</a>
											</main> -->

											<div class="cd-cart-container empty">
												<a href="#0" class="cd-cart-trigger" style="text-decoration:none;">
													Cart
													<ul class="count"> <!-- cart items count -->
														<li>0</li>
														<li>0</li>
													</ul> <!-- .count -->
												</a>

												<div class="cd-cart">
													<div class="wrapper">
														<header>
															<h2>Cart</h2>
															<span class="undo">Item removed. <a href="#0" style="text-decoration:none;">Undo</a></span>
														</header>

														<div class="body">
															<ul>
																<!-- products added to the cart will be inserted here using JavaScript -->
															</ul>
														</div>

														<footer>

															<a href="#0" class="checkout btn"><em>Current Total: $<span>0</span></em></a>
														</footer>
													</div>
												</div> <!-- .cd-cart -->
											</div> <!-- cd-cart-container -->
						<!-- <%=link_to "Continue", listings_path, style:"text-decoration:none;"%> -->

					</div>
				</div> <!-- .cd-project-info -->
			</li>

			<li class="">
				<div class="preview-image">
					<div class="cd-project-title">
						<h2>Project 3</h2>
						<p>Brief description of the project here</p>
					</div>
				</div>

				<div class="cd-project-info">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
					</p>
					<div class="add_to_cart">
											<!-- https://codyhouse.co/gem/add-to-cart-interaction/ -->
											<main>
												<div class="tickets"><a href="#0" class="cd-add-to-cart btn" data-price="50.99" style="margin-top: 46px;">Add To Cart</a></div>
												<div class="tickets"><a href="listings" class="btn" style="margin-top: 4px; background: #ee7600;">Continue</a></div>
												<!-- <div class="tickets"><div class="btn">Purchase Tickets</div></div> -->
											</main>


											<!-- <main>
												<a href="#0">Continue</a>
											</main> -->

											<div class="cd-cart-container empty">
												<a href="#0" class="cd-cart-trigger" style="text-decoration:none;">
													Cart
													<ul class="count"> <!-- cart items count -->
														<li>0</li>
														<li>0</li>
													</ul> <!-- .count -->
												</a>

												<div class="cd-cart">
													<div class="wrapper">
														<header>
															<h2>Cart</h2>
															<span class="undo">Item removed. <a href="#0" style="text-decoration:none;">Undo</a></span>
														</header>

														<div class="body">
															<ul>
																<!-- products added to the cart will be inserted here using JavaScript -->
															</ul>
														</div>

														<footer>

															<a href="#0" class="checkout btn"><em>Current Total: $<span>0</span></em></a>
														</footer>
													</div>
												</div> <!-- .cd-cart -->
											</div> <!-- cd-cart-container -->
						<!-- <%=link_to "Continue", listings_path, style:"text-decoration:none;"%> -->

					</div>
				</div> <!-- .cd-project-info -->
			</li>

			<li class="">
				<div class="preview-image">
					<div class="cd-project-title">
						<h2>Project 4</h2>
						<p>Brief description of the project here</p>
					</div>
				</div>

				<div class="cd-project-info">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod dicta aliquid nemo repellendus distinctio minus dolor aperiam suscipit, ea enim accusantium, deleniti qui sequi sint nihil modi amet eligendi, quidem animi error labore voluptatibus sed. Qui magnam labore, iusto nostrum. Praesentium non, impedit accusantium consequatur officia architecto, mollitia placeat aperiam tenetur pariatur voluptatibus corrupti vitae deserunt! Nostrum non mollitia deserunt ipsam. Sunt quaerat natus cupiditate iure ipsa voluptatibus recusandae ratione vitae amet distinctio, voluptas, minus vero expedita ea fugit similique sit cumque ad id facere? Ab quas, odio neque quis ratione. Natus labore sit esse, porro placeat eum hic.
					</p>
					<div class="add_to_cart">
											<!-- https://codyhouse.co/gem/add-to-cart-interaction/ -->
											<main>
												<div class="tickets"><a href="#0" class="cd-add-to-cart btn" data-price="50.99" style="margin-top: 46px;">Add To Cart</a></div>
												<div class="tickets"><a href="listings" class="btn" style="margin-top: 4px; background: #ee7600;">Continue</a></div>
												<!-- <div class="tickets"><div class="btn">Purchase Tickets</div></div> -->
											</main>


											<!-- <main>
												<a href="#0">Continue</a>
											</main> -->

											<div class="cd-cart-container empty">
												<a href="#0" class="cd-cart-trigger" style="text-decoration:none;">
													Cart
													<ul class="count"> <!-- cart items count -->
														<li>0</li>
														<li>0</li>
													</ul> <!-- .count -->
												</a>

												<div class="cd-cart">
													<div class="wrapper">
														<header>
															<h2>Cart</h2>
															<span class="undo">Item removed. <a href="#0" style="text-decoration:none;">Undo</a></span>
														</header>

														<div class="body">
															<ul>
																<!-- products added to the cart will be inserted here using JavaScript -->
															</ul>
														</div>

														<footer>

															<a href="#0" class="checkout btn"><em>Current Total: $<span>0</span></em></a>
														</footer>
													</div>
												</div> <!-- .cd-cart -->
											</div> <!-- cd-cart-container -->
						<!-- <%=link_to "Continue", listings_path, style:"text-decoration:none;"%> -->

					</div>
				</div> <!-- .cd-project-info -->
			</li>
		</ul> <!-- .cd-projects -->

		<button class="scroll cd-text-replace">Scroll</button>
	</div> <!-- .cd-project-container -->

	<nav class="cd-primary-nav" id="primary-nav">
		<ul>
			<li class="cd-label">Navigation</li>
			<li><span>The team</span></li>
			<li><span>Our services</span></li>
			<li><span>Our projects</span></li>
			<li><span>Contact us</span></li>
		</ul>
	</nav> <!-- .cd-primary-nav -->
	<!-- <div class="cd-nugget-info">
		<a href="#">
			<span>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
					<style type="text/css">
						.cd-nugget-info-arrow{fill:#383838;}
					</style>
					<polygon class="cd-nugget-info-arrow" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 "></polygon>
				</svg>
			</span>
			CONTINUE
		</a>
	</div> -->


</body>

<style>
#footer1{
	display: none;
}
</style>
