
<section style="background: url(<%= @listing.photos %>) no-repeat center center fixed; background-size:100%; display:block;" class="reservation_image_body">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <div class="home-search dark center ">
                    <div class="home-search-main heading-block center">
                        <div style="font-size:18px;font-weight:bold;">Hotel Reservations &nbsp;&nbsp; 
                   
                            <a style="margin-left:20px;" class="ahref_just_forlisting_show" href="http://groups.reservations.com/" target="_blank">Group Bookings</a>
                        </div>
                        <h1 data-animate="fadeInUp" data-delay="200" class="fadeInUp animated">Reserve Your Hotel</h1>
                        <span data-animate="fadeInUp" data-delay="300" class="fadeInUp animated">
                            <strong>Select from over 150,000 hotels around the world <br>Book online or call 
                                <span class="booking-phone">855-516-1090</span>
                            </strong>
                        </span>
                    </div>

                    <div class="">
                        <form id="homesearch" action="/hotel/results" method="GET" novalidate="novalidate">
                            <input id="rc-ro" name="rc-ro" value="1" type="hidden">
                            <input id="rc-lo" name="rc-lo" value="" class="rc-cl-lo" type="hidden">
                            <input id="rc-lt" name="rc-lt" value="" class="rc-cl-lt" type="hidden">
                            <div class="row">
                                <div class="col-md-1 "></div>
                                <div class="col-md-4 ">
                                    <div class="input-group">                       
                                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                        <input value="" id="rc-ci" name="rc-ci" data-val="true" data-val-required="" class="sm-form-control tleft past-enabled not-dark rc-cl-ci ui-autocomplete-input" placeholder="Destination City, Airport or Hotel" autocomplete="off" type="text">
                                        <span class="input-group-addon not-dark" style="padding: 9px 12px;">
                                            <i class="icon-map-marker"></i>
                                        </span>
                                        <span style="display:none" class="field-validation-valid" data-valmsg-for="rc-ci" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="input-group">
                                        <input id="rc-ar" name="rc-ar" data-val="true" data-val-required="" value="" class="sm-form-control tleft past-enabled not-dark datepicka hasDatepicker" placeholder="Check in date" type="text">
                                        <span class="input-group-addon" style="padding: 9px 12px;">
                                            <i class="icon-calendar2"></i>
                                        </span>
                                        <span style="display:none" class="field-validation-valid" data-valmsg-for="rc-ar" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="input-group">
                                        <input id="rc-de" name="rc-de" data-val="true" data-val-required="" value="" class="sm-form-control tleft past-enabled not-dark datepicka hasDatepicker" placeholder="Check out date" type="text">
                                        <span class="input-group-addon" style="padding: 9px 12px;">
                                            <i class="icon-calendar2"></i>
                                        </span>
                                        <span style="display:none" class="field-validation-valid" data-valmsg-for="rc-de" data-valmsg-replace="true"></span>
                                    </div>          
                                </div>
                                <div class="col-md-1 "></div>
                            </div>
                            <div class="row">
                                <div class="col-12 center">
                                    <div class="topmargin-sm">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-lg btn-danger">Search</button>
                                            <button type="submit" class="btn btn-lg btn-danger">Popular</button>
                                            <button type="submit" class="btn btn-lg btn-danger">Luxe</button>
                                            <button type="submit" class="btn btn-lg btn-danger">Cheap</button>
                                        </div>&nbsp;&nbsp;
                                        <a href="http://groups.reservations.com" target="_blank" class="btn btn-lg btn-danger nomargin" value="submit" type="submit" style="">Groups (5+ Rooms)</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% if @reservation.errors.full_messages.present? %>
<%= @reservation.errors.full_messages %>
<% end %>


<h1 style="color:white;text-align:center;"> Live at <%=@listing.name%> </h1><br>

<div style="width:400px;margin-left:auto;margin-right:auto;">
<%= form_for [@listing, @reservation] do |f| %>

  <%= f.label :check_in, style:"color:white;" %>
  <%= f.date_field :start_date %>
  <%= f.label :check_out, style:"color:white;" %>
  <%= f.date_field :end_date %>


  <%= f.label :number_of_guests, style:"color:white;" %> <br>
  <%= f.select :num_guests, [[1], [2], [3], [4], [5]] %>


  <%= f.hidden_field :listing_id, value: @listing.id %>
  <%= f.hidden_field :total %>

  <div style="margin-top:10px;color:gray">
  <%= f.submit%>
</div>
<% end %>
</div>

<style>
body {background-color:grey;}
</style>

</section>