<% if @reservation.errors.full_messages.present? %>
<%= @reservation.errors.full_messages %>
<% end %>


<h1 style="color:white;text-align:center;"> Live at <%=@listing.name%> </h1><br>

<div style="width:400px;margin-left:auto;margin-right:auto;">
<%= form_for [@listing, @reservation] do |f| %>

  <%= f.label :check_in, style:"color:white;" %>
  <%= f.date_field :start_date %>
  <%= f.label :check_out, style:"color:white;" %>
  <%= f.date_field :end_date %>


  <%= f.label :number_of_guests, style:"color:white;" %> <br>
  <%= f.select :num_guests, [[1], [2], [3], [4], [5]] %>


  <%= f.hidden_field :listing_id, value: @listing.id %>
  <%= f.hidden_field :total %>

  <div style="margin-top:10px;color:gray">
  <%= f.submit%>
</div>
<% end %>
</div>

<style>
body {background-color:grey;}
</style>
