<!DOCTYPE html>
<html>
  <head>
    <title>SportsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src=" http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <!-- 1. Facebook Login  -->

    <!-- <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <ul>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      </ul>
    <% end %> -->

    <!-- <script>

    var bgImageArray = [
      "<%= image_url 'home-background7' %>",
      "<%= image_url 'home-background6' %>",
      "<%= image_url 'home-background4' %>"
    ]
    // base = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/full-",
    secs = 4;
    bgImageArray.forEach(function(imgSrc){
        new Image().src = imgSrc;
        // caches images, avoiding white flash between background replacements
    });

    function backgroundSequence() {
    	window.clearTimeout();
    	var k = 0;
    	for (i = 0; i < bgImageArray.length; i++) {
    		setTimeout(function(){
    			document.documentElement.style.background = "url(" + bgImageArray[k]
    			document.documentElement.style.backgroundSize ="cover";
    		if ((k + 1) === bgImageArray.length) { setTimeout(function() { backgroundSequence() }, (secs * 1000))} else { k++; }
    		}, (secs * 1000) * i)
    	}
    }
    backgroundSequence();

    </script> -->
    <ul class="nav">
      <li class="nav__item nav__item--logo"><%=image_tag("logo-1.png", :style=>"width:90px; margin-top:-14.75px;margin-left:-205px;") %></li>
      <div class="nav__links">
        <% if session[:user_id].present?%>
        <li class="nav__item">
        <%= link_to "My Profile", user_path(current_user.id), {:style=>'color:white;text-decoration:none;'}%>
        </li>
        <% else -%>
        <li class="nav__item">Explore</li>
        <!-- <li class="nav__item">Help</li> -->
        <% end -%>
        <% if session[:user_id].present?%>
          <li class="nav__item">Plan your trip</li>
        <% else -%>
          <li class="nav__item">Join Us</li>
        <% end -%>

        <li class="nav__item">
        <% if session[:user_id].present?%>
          <div style="margin-top:-0.515px;">
          <%= link_to "Log Out", signout_path, method: :delete, :style=>"text-decoration:none;color:white;" %>
          </div>
        <% else -%>
          <div style="margin-top:-0.5156127px; padding:0 0 0 0px;">
          <%= link_to "Log In", new_session_path, method: :get, :style=>"text-decoration:none;color:white;font-size:14;" %>
          </div>
        <% end -%>
        <li class="nav__item">
        <% if session[:user_id].present? %>
          <%= image_tag (current_user.avatars), class: 'img-circle', style:"margin-top:-9px;margin-left:-40px;border-radius:100%;height:40%"  %>
        </li>
        <% end %>
      </li>
      </div>
    </ul>

    <%= yield %>

    <div id="footer1">
      <ul>
        <li>About Us</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Contact Us</li>
      </ul>
    </div>




  </body>
</html>
